@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/material-icons/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.outt {
    color: darkgrey!important;
}

.invisible {
    display: none!important;
}

.circle-xs {
    width: 50px!important;
    border: none;
  box-shadow: none;
}

.bottom-sheet {
    color:black;
}

.collection .collection-item.avatar {
    min-height: 84px;
    padding-left: 72px;
    position: relative;
}
.collection .collection-item.avatar img {
    border: none;
  box-shadow: none;
}
.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

html {
background: url('../img/patt.jpg');
background-size:50%;
max-width: 100%;
}