<div class="container center">
   <div class="row">
      <div class="col s12 black-text left-align">
          <p class="flow-text white-text">Desplegá cada funcionalidad de ±inLAB para saber cómo funciona:</p>
          <ul class="collapsible purple black-text" data-collapsible="accordion">
                <li>
                <div class="collapsible-header"><i class="material-icons">&#xE63A;</i>Cargar videos</div>
                <div class="collapsible-body">
                    <h5 class="white-text">Desde la computadora</h5>
                    <p class="white-text">Haciendo click en el botón ABRIR VIDEO, ubicado en la barra de herramientas arriba a la derecha, se muestra una ventana de diálogo en donde se puede buscar localmente el video para abrir. Los formatos soportados son .mp4, .mpg, .mpeg, .avi, .wmv, .mov, .rm, .ram, .swf, .flv, .ogg y .webm</p>
                    <h5 class="white-text">Desde <span style="margin-left:6px;"><img src="img/icons/youtube.png" width="20" style="top:2px;"></span> YouTube</h5>
                    <p class="white-text">Haciendo click en el botón YOUTUBE, se mostrará una ventana de diálogo en donde se pide ingresar el link del video. El link puede copiarse directamente de la barra de direcciones en la página de YouTube cuando se esté reproduciendo el video, o puede hacerse click con el botón derecho del mouse sobre el video y elegir la opción "Copiar URL del video".</p>
                    <h5 class="white-text">Captura en vivo</h5>
                    <p class="white-text">Haciendo click en el botón LIVE, se puede acceder a la webcam de la pc para grabar un video corto. Cuando se inicie la vista de la webcam, aparecen en la barra de herramientas 2 botones para iniciar la grabación (<i class="material-icons" style="color:red;">&#xE061;</i>) y para detener la grabación (<i class="material-icons">&#xE047;</i>) y ver el fragmento de video grabado. Cuando se presiona el botón para detener la grabación y ver el video, aparece inmediatamente después otro botón al lado de los otros para descargar el video grabado (<i class="material-icons">&#xE2C4;</i>)</p>
                </div>
                </li>
                <li>
                <div class="collapsible-header"><i class="material-icons">&#xE1B7;</i>Seguimiento de un punto de interés</div>
                <div class="collapsible-body">
                    <p class="white-text">±inLAB es un software para análisis de videos por fotogramas, en donde principalmente se desea conocer la trayectoria, velocidad y aceleración de un punto deseado en el video. La idea es que el video avanza una mínima cantidad de tiempo (determinada por el paso de tiempo) y en ese tiempo el punto de interés se mueve una cierta distancia (o nó), y el usuario debe ir haciendo click sobre el punto siguiendo su movimiento.</p>
                </div>
                </li>
                <li>
                <div class="collapsible-header"><i class="material-icons">&#xE429;</i>Configuración</div>
                <div class="collapsible-body">
                    <h5 class="white-text"><i class="material-icons">&#xE425;</i> Ajuste del paso de tiempo</h5>
                    <p class="white-text">Puede ingresarse el paso de tiempo deseado entre cada click del mouse desde la configuración de ±inLAB (<i class="material-icons">&#xE429;</i>), botón ubicado en la barra de herramientas arriba a la izquierda. Aparece una ventana de configuración en donde puede modificarse tanto el paso del tiempo (±inLAB toma por defecto el valor 0.033) en segundos (s), así como el framerate del video (si es que se conoce) y automáticamente ±inLAB calculará el paso de tiempo. El paso de tiempo y el framerate están vinculados y solamente puede modificarse uno de los dos valores, el otro queda determinado por la siguiente ecuación:</p>
                    <p class="white-text">paso de tiempo = (1 / framerate)</p>
                </div>
                </li>
                <li>
                <div class="collapsible-header"><i class="material-icons">&#xE24B;</i>Resultados</div>
                <div class="collapsible-body">
                    <p class="white-text">Cuando se carga un video, aparece un panel a la izquierda en donde pueden verse los resultados y valores que se van levantando con cada click del mouse sobre el punto de interés trackeado. En el panel pueden verse varias pestañas con la información en forma de tabla (datos) y gráficos para la posición, velocidad y aceleración del punto trackeado.</p>
                    <h5 class="white-text"><i class="material-icons">&#xE228;</i> Tabla de datos</h5>
                    <p class="white-text">En la pestaña DATOS se encuentran los resultados en una tabla. Por defecto ±inLAB muestra en la tabla todas las variables disponibles, que son tiempo, posición en X, posición en Y, posición R (módulo), velocidad V (módulo), velocidad en X, velocidad en Y, aceleración A (módulo), aceleración en X y aceleración en Y. Es posible ocultar los datos de velocidad o aceleración para dejar la tabla con menos información, utilizándo los controles (switches) ubicados encima de la tabla.</p>
                    <h5 class="white-text"><i class="material-icons">&#xE01D;</i> Gráfico de posición</h5>
                    <p class="white-text">En la pestaña POSICIÓN puede encontrarse un gráfico para la posición del punto. El gráfico muestra por defecto, de manera superpuesta, posición en X vs posición en Y, posición R vs tiempo, posición en X vs tiempo y posición en Y vs tiempo. Es posible ocultar las curvas que no se deseen haciendo click en las leyendas que aparecen sobre el gráfico, que se mostrarán tachadas con una línea cuando se haga click para ocultar esa curva.</p>
                    <h5 class="white-text"><i class="material-icons">&#xE01D;</i> Gráfico de velocidad</h5>
                    <p class="white-text">En la pestaña VELOCIDAD puede encontrarse un gráfico para la velocidad del punto. El gráfico muestra por defecto, de manera superpuesta, velocidad V vs tiempo, velocidad en X vs tiempo y velocidad en Y. Es posible ocultar las curvas que no se deseen haciendo click en las leyendas que aparecen sobre el gráfico, que se mostrarán tachadas con una línea cuando se haga click para ocultar esa curva.</p>
                    <h5 class="white-text"><i class="material-icons">&#xE01D;</i> Gráfico de aceleración</h5>
                    <p class="white-text">En la pestaña ACELERACIÓN puede encontrarse un gráfico para la aceleración del punto. El gráfico muestra por defecto, de manera superpuesta, aceleración A vs tiempo, aceleración en X vs tiempo y aceleración en Y vs tiempo. Es posible ocultar las curvas que no se deseen haciendo click en las leyendas que aparecen sobre el gráfico, que se mostrarán tachadas con una línea cuando se haga click para ocultar esa curva.</p>
                </div>
                </li>
                <li>
                <div class="collapsible-header"><i class="material-icons">&#xE2C4;</i>Descarga de resultados</div>
                <div class="collapsible-body">
                    <p class="white-text">En el mismo panel de resultados, pueden verse en el borde inferior 3 botones: BORRAR TODO, EXCEL y GRÁFICOS.</p>
                    <h5 class="white-text"><i class="material-icons">&#xE22D;</i> Tabla en Excel</h5>
                    <p class="white-text">El botón EXCEL descarga un archvo de MS Excel (.xls) con los datos de la tabla. Únicamente los datos mostrados en la tabla se transferirán al archivo, por lo que es importante seleccionar los datos que se desean previamente (switches de velocidad y aceleración).</p>
                    <h5 class="white-text"><i class="material-icons">&#xE01D;</i> Gráficos</h5>
                    <p class="white-text">El botón GRÁFICOS descarga TODOS los gráficos (posición, velocidad y aceleración) de una vez. Si se desea descargar algún gráfico individualmente, se puede hacer click con el botón derecho del mouse sobre el mismo y seleccionar "Guardar imagen como..." o "Copiar imagen" y pegarla en un editor de imágenes (Ej: MS Paint o el mismo MS Excel o MS Word, etc).</p>
                    <h5 class="white-text"><i class="material-icons">&#xE872;</i> Resetear datos</h5>
                    <p class="white-text">El botón BORRAR TODO sirve para eliminar toda la información tanto de la tabla como de los gráficos. IMPORTANTE: Esta acción no tiene vuelta atrás y los datos se pierden de manera permanente.</p>
                </div>
                </li>
          </ul>
      </div>
    </div>
</div>