<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Leo Dimieri">
  <title>±inLAB</title>
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/plyr.css">
  <link rel="shortcut icon" href="img/inL.png">
  <style>
    .mirror {
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      -ms-filter: fliph;
      /*IE*/
      filter: fliph;
      /*IE*/
      max-height: 640px;
    }
  </style>
</head>

<body ng-app="inLAB" onload="appReady()">
  <div id="bigOverlay" class="valign-wrapper" style="position:absolute;background:#000;width:100%;height:100%;z-index:9999;">
    <div class="center-align" style="width:300px;margin:0 auto;">
      <img src="img/logo.png" width="200">
      <div class="progress white">
        <div class="indeterminate purple"></div>
      </div>
    </div>
  </div>

  <nav class="grey darken-4 z-depth-4">
    <div class="nav-wrapper">
      <ul id="mobile-demo" class="side-nav" ng-controller="menuIzquierda">
        <li><a href="#" ng-click="openLocalVid()" style="background:#c634fd;color:#fff"><i class="material-icons" style="color:#fff;">&#xE2C7;</i>Abrir Video</a></li>
        <li><a href="#" ng-click="openYTVid()" style="background:#e52d27;color:#fff"><span style="margin-right:35px;"><img src="img/icons/youtube.png" width="20" style="top:2px;"></span> YouTube</a></li>
        <li><a href="#" ng-click="openLiveVid()" style="background:#fff;color:#000"><span style="margin-right:40px;"><img src="img/icons/live.png" style="top:2px;margin-left:5px;"></span> Live (beta)</a></li>
        <li ng-show="isRecording"><a href="#" ng-click="startRecording()"><i class="material-icons" style="color:red;">&#xE061;</i> Iniciar grabación</a></li>
        <li ng-show="isRecording"><a href="#" ng-click="stopRecording()"><i class="material-icons">&#xE047;</i> Detener grabación</a></li>
        <li ng-show="isRecording && hasRecorded"><a href="#" ng-click="downloadRecording()"><i class="material-icons">&#xE2C4;</i> Descargar grabación</a></li>
        <li class="hide"><a href="#" ng-click="saveSession()"><i class="material-icons">&#xE2C4;</i>Descargar todo <div ng-if="loading" class="preloader-wrapper small active" style="position:absolute;margin-left:30px;margin-top:5px;"><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></a></li>
        <li><a href="#" data-target="modal3"><i class="material-icons">&#xE429;</i>Configuración</a></li>
        <li><a href="#" ng-click="help()"><i class="material-icons">&#xE8FD;</i>Ayuda</a></li>
        <li><a data-target="modal4"><i class="material-icons">&#xE420;</i>Sobre el sitio...</a></li>
      </ul>
      <ul class="right hide-on-med-and-down" ng-controller="ytmenu" ng-show="!showHelp">
        <li><button class="waves-effect btn file-field tooltipped" data-position="bottom" data-delay="10" data-tooltip="Video de la computadora..."
            style="background:#c634fd;"><span>Abrir Video</span><input type="file" id="localVideo" accept="video/mp4,video/x-m4v,video/*" fileread="elArchivo"></button></li>
        <li><a id="botYT" class="waves-effect btn tooltipped" data-position="bottom" data-delay="10" data-tooltip="Video de YouTube..."
            data-target="modal1" style="background:#e52d27;"><span><img src="img/icons/youtube.png" width="20" style="top:2px;"></span><span> YouTube</span></a></li>
        <li><span class="badge red white-text" data-badge-caption="beta" style="position:absolute;right:15px;top:5px;z-index:9;"></span>
          <a
            id="botLive" ng-click="liveCapture()" class="waves-effect btn tooltipped black-text" data-position="bottom" data-delay="10"
            data-tooltip="Captura desde webcam..." style="background:#fff;right:15px;"><span><img src="img/icons/live.png"></span><span> LIVE</span></a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-up" ng-controller="menuDerecha">
        <li ng-show="!showHelp"><a class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="10" data-tooltip="Configuración"
            data-target="modal3"><i class="material-icons">&#xE429;</i></a></li>
        <li ng-show="!showHelp"><a ng-click="goFullScreen()" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="10" data-tooltip="Pantalla Completa"><i ng-if="fullscr" class="material-icons">&#xE5D1;</i><i ng-if="!fullscr" class="material-icons">&#xE5D0;</i></a></li>
        <li ng-show="showHelp"><a ng-click="goBack()" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="10" data-tooltip="Volver"><i class="material-icons">&#xE5C4;</i></a></li>
      </ul>
      <a href="" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">&#xE5D2;</i></a>
      <a class="brand-logo"><img src="img/logo.png" width="150" style="margin-top:5px;"></a>
      <ul class="hide-on-med-and-down" style="margin-left:225px;" ng-controller="menuDerecha">
        <li ng-show="!showHelp"><a class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="10" data-tooltip="Configuración"
            data-target="modal3"><i class="material-icons">&#xE429;</i></a></li>
        <li class="hide">
          <div ng-if="loading" class="preloader-wrapper small active" style="margin-top:14px;">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div><a ng-show="!loading" ng-click="downloadAll()" class="waves-effect waves-light tooltipped" data-position="bottom"
            data-delay="10" data-tooltip="Descargar todo"><i class="material-icons">&#xE2C4;</i></a></li>
        <li ng-show="!showHelp"><a ng-click="goFullScreen()" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="10" data-tooltip="Pantalla Completa"><i ng-if="fullscr" class="material-icons">&#xE5D1;</i><i ng-if="!fullscr" class="material-icons">&#xE5D0;</i></a></li>
        <li class="hide"><a ng-click="autoTracking()" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="10" data-tooltip="Auto-tracking"><i class="material-icons">&#xE55C;</i></a></li>
        <li ng-show="isRecording && !showHelp"><a ng-click="startRecording()" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="10"
            data-tooltip="Grabar video"><i class="material-icons" style="color:red;">&#xE061;</i></a></li>
        <li ng-show="isRecording && !showHelp"><a ng-click="stopRecording()" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="10"
            data-tooltip="Detener grabación"><i class="material-icons">&#xE047;</i></a></li>
        <li ng-show="isRecording && hasRecorded && !showHelp"><a ng-click="downloadRecording()" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="10"
            data-tooltip="Descargar grabación"><i class="material-icons">&#xE2C4;</i></a></li>
        <li ng-show="!showHelp"><a ng-click="help()" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="10" data-tooltip="Ayuda"><i class="material-icons">&#xE8FD;</i></a></li>
        <li ng-show="showHelp"><a ng-click="goBack()" class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="10" data-tooltip="Volver"><i class="material-icons">&#xE5C4;</i></a></li>
        <li><a class="waves-effect waves-light tooltipped" data-position="bottom" data-delay="10" data-tooltip="Sobre el sitio..." data-target="modal4"><i class="material-icons">&#xE420;</i></a></li>
      </ul>
    </div>
  </nav>

  <div class="row center" style="margin-top:20px;" ng-controller="tableAndVideo" ng-show="!isVideo && !showHelp">
    <div class="col s12 white-text">
      <img src="img/logoS.png" width="300" class="hide-on-med-and-down">
      <h3 style="text-shadow: 3px 3px #000;">Análisis de videos por fotogramas</h3>
      <h5 style="text-shadow: 3px 3px #000;">Para comenzar abrí un video desde tu computadora, o desde un link de YouTube...</h5>
    </div>
  </div>

  <div id="mainView" class="row hide" style="margin-top:20px;" ng-controller="tableAndVideo" ng-show="isVideo && !showHelp">
    <div class="col s12 m8" ng-click="getPoint($event)">
      <video poster="img/logo.png" id="theVideo" class="mirror" autoplay allowCrossOrigin></video>
    </div>
    <div class="col s12 hide-on-med-and-up" style="margin-top:10px;"></div>
    <div class="col s12 m4">

      <div class="card z-depth-4">
        <div class="card-content">
          <p>Datos generados siguiendo y haciendo click sobre un punto de interés en el video.</p>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width" style="overflow-x:hidden;">
            <li class="tab"><a class="active" href="#tab1">Datos</a></li>
            <li class="tab"><a href="#tab2">Posición</a></li>
            <li class="tab"><a href="#tab3">Velocidad</a></li>
            <li class="tab"><a href="#tab4">Aceleración</a></li>
          </ul>
        </div>

        <div class="card-content purple white-text" style="max-height:480px;overflow-y:auto;">
          <div id="tab1">
            <div class="row">
              <div class="switch col s6">
                Velocidad:
                <label class="white-text">
                <input type="checkbox" ng-model="showVel">
                <span class="lever"></span>
                Sí
              </label>
              </div>
              <div class="switch col s6">
                Aceleración:
                <label class="white-text">
                <input type="checkbox" ng-model="showAcel">
                <span class="lever"></span>
                Sí
              </label>
              </div>
            </div>

            <table class="bordered centered highlight" id="datatable">
              <thead>
                <tr>
                  <th>t</th>
                  <th>X</th>
                  <th>Y</th>
                  <th>R</th>
                  <th ng-if="showVel">V</th>
                  <th ng-if="showVel">Vx</th>
                  <th ng-if="showVel">Vy</th>
                  <th ng-if="showAcel">A</th>
                  <th ng-if="showAcel">Ax</th>
                  <th ng-if="showAcel">Ay</th>
                </tr>
              </thead>
              <tbody ng-repeat="punto in puntos" style="font-size:.8em;">
                <tr>
                  <td>{{punto.t}}</td>
                  <td>{{punto.x}}</td>
                  <td>{{punto.y}}</td>
                  <td>{{punto.r}}</td>
                  <td ng-if="showVel">{{punto.vv !== undefined ? punto.vv : '-'}}</td>
                  <td ng-if="showVel">{{punto.vx !== undefined ? punto.vx : '-'}}</td>
                  <td ng-if="showVel">{{punto.vy !== undefined ? punto.vy : '-'}}</td>
                  <td ng-if="showAcel">{{punto.aa !== undefined ? punto.aa : '-'}}</td>
                  <td ng-if="showAcel">{{punto.ax !== undefined ? punto.ax : '-'}}</td>
                  <td ng-if="showAcel">{{punto.ay !== undefined ? punto.ay : '-'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="tab2" class="white" style="padding:10px;border-radius:5px">
            <canvas id="myChart" style="background:#fff;"></canvas>
          </div>
          <div id="tab3" class="white" style="padding:10px;border-radius:5px">
            <canvas id="myChart2" style="background:#fff;"></canvas>
          </div>
          <div id="tab4" class="white" style="padding:10px;border-radius:5px">
            <canvas id="myChart3" style="background:#fff;"></canvas>
          </div>
        </div>
        <div class="card-action">
          <a href="#" class="btn-flat {{ puntos.length > 0 ? '' : 'disabled' }}" ng-click="resetAll()">Borrar todo</a>
          <a href="#" class="btn scale-transition {{ puntos.length > 0 ? '' : 'scale-out' }}" style="background:#24ce14;color:#fff"
            download="inLABdata.xls" onclick="return ExcellentExport.excel(this, 'datatable', '±inLAB datos');"><i class="material-icons">&#xE2C4;</i> Excel</a>
          <a href="#" class="btn scale-transition {{ puntos.length > 0 ? '' : 'scale-out' }}" style="background:#1ab7ea;color:#fff"
            ng-click="downloadGraph()"><i class="material-icons">&#xE2C4;</i> Gráficos</a>
        </div>
      </div>

    </div>
  </div>

  <help ng-show="showHelp"></help>

  <div class="center white-text" style="position:fixed;bottom:5px!important;left:10px;text-shadow: 2px 2px #000;">
    <h6>© 2017 by <a class="white-text" href="http://leodimieri.com/" target="_blank">Leo Dimieri</a></h6>
  </div>

  <div id="modal1" class="modal" style="background:#e52d27;color:#fff" ng-controller="ytmenu">
    <div class="modal-content">
      <h4>Video de YouTube</h4>
      <p>Ingresá la URL del video de YouTube</p>
      <div class="input-field">
        <input ng-model="ytlink" id="youtube_link" type="text" class="validate" style="color:#fff;" placeholder="Ej: https://youtu.be/zX_81fpJnsw">
      </div>
    </div>
    <div class="modal-footer" style="background:#e52d27;">
      <a href="#!" ng-click="youTubeVideo()" class="modal-action modal-close waves-effect waves-purple btn-flat" style="color:#fff;">OK</a>
    </div>
  </div>
  <div id="modal3" class="modal modal-fixed-footer" ng-controller="configuracion" style="max-width:480px;max-height:480px;">
    <div class="modal-content">
      <h4>Configuración de ±inLAB</h4>
      <div class="row">
        <div class="col m6 s8 center">
          Framerate:
          <div class="input-field inline">
            <input ng-model="frameRate" id="framerate_field" type="number" min="1" value="{{ frameRate | number:2 }}" ng-change="updateFR()"
              style="color:#000;">
          </div>
        </div>
        <div class="col m6 s8 center">
          Paso de tiempo:
          <div class="input-field inline">
            <input ng-model="pasoTiempo" id="timestep_field" type="number" min="0.01" value="{{ pasoTiempo | number:2 }}" ng-change="updatePT()"
              style="color:#000;">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" ng-click="generalConfig()" class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
    </div>
  </div>

  <div id="modal4" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Sobre el sitio...</h4>
      <p>±inLAB tiene fines educacionales y es totalmente libre y gratuito.<br>
      Se aceptan donaciones para avanzar en las mejoras... Podés comprarle unas gomitas y chocolates al programador utilizándo los siguientes links:</p>
        <div class="row center">
          <div class="col m3 s12">
            <a href="http://mpago.la/8kCm" target="_blank" class="waves-effect waves-light btn tooltipped purple" data-position="top" data-delay="50" data-tooltip="$ 50">Caramelos</a>
          </div>
          <div class="col m3 s12">
            <a href="http://mpago.la/uKIh" target="_blank" class="waves-effect waves-light btn tooltipped purple" data-position="top" data-delay="50" data-tooltip="$ 150">Gomitas</a>
          </div>
          <div class="col m3 s12">
            <a href="http://mpago.la/UDS" target="_blank" class="waves-effect waves-light btn tooltipped purple" data-position="top" data-delay="50" data-tooltip="$ 250">Chocolates</a>
          </div>
          <div class="col m3 s12">
            <a href="http://mpago.la/5BbE" target="_blank" class="waves-effect waves-light btn tooltipped purple" data-position="top" data-delay="50" data-tooltip="$ 500">Ferrero Rocher</a>
          </div>
        </div>
      <p>
      <h5>Opciones de pago</h5>
      Para los pagos se utiliza la plataforma de  <img src="http://tvleon.com/img/mercadopago.png" width="100">
      
      </p><h5 style="font-size:20px;">Tarjetas de débito y crédito: ¡Hasta en 12 cuotas!</h5>
      <a href="https://www.mercadopago.com/mla/credit_card_promos.htm" target="_blank">Bancos que ofrecen cuotas sin interés</a><br>
      <div class="row">
      <div class="col m1 s3"><img src="http://tvleon.com/img/tarjetas/visa.png" height="50"></div>
      <div class="col m1 s2"><img src="http://tvleon.com/img/tarjetas/master.png" height="50"></div>
      <div class="col m1 s2"><img src="http://tvleon.com/img/tarjetas/american.png" height="50"></div>
      <div class="col m1 s1"><img src="http://tvleon.com/img/tarjetas/naranja.png" height="50"></div>
      <div class="col m1 s3"><img src="http://tvleon.com/img/tarjetas/nativa.png" height="50"></div>
      <div class="col m1 s2"><img src="http://tvleon.com/img/tarjetas/tarshop.png" height="50"></div>
      <div class="col m1 s2"><img src="http://tvleon.com/img/tarjetas/cencosud.png" height="50"></div>
      <div class="col m1 s1"><img src="http://tvleon.com/img/tarjetas/cabal.png" height="50"></div>
      <div class="col m1 s2"><img src="http://tvleon.com/img/tarjetas/argencard.png" height="50"></div>
      <div class="col m2 s4"><img src="http://tvleon.com/img/tarjetas/diners.png" height="50"></div>
      <div class="col m2 s5"><img src="http://tvleon.com/img/tarjetas/cordial.png" height="50"></div>
      <div class="col m2 s5"><img src="http://tvleon.com/img/tarjetas/cordobesa.png" height="50"></div>
      </div>
      <p></p>
      <p>
      </p><h5 style="font-size:20px;">En efectivo: en puntos de pago</h5>
      <div class="row">
      <div class="col m1 s3"><img src="http://tvleon.com/img/tarjetas/pagofacil.png" height="50"></div>
      <div class="col m1 s2"><img src="http://tvleon.com/img/tarjetas/rapipago.png" height="50"></div>
      <div class="col m1 s2"><img src="http://tvleon.com/img/tarjetas/provnet.png" height="50"></div>
      <div class="col m1 s1"><img src="http://tvleon.com/img/tarjetas/cargavirtual.png" height="50"></div>
      </div>
      <p></p>
      <p>
      </p><h5 style="font-size:20px;">Transferencia bancaria</h5>
      <div class="row">
      <div class="col m1 s3"><img src="http://tvleon.com/img/tarjetas/link.png" height="50"></div>
      </div>
      <p></p>
      <p>
      </p><h5 style="font-size:20px;">Con saldo recargado en tu cuenta de MercadoPago</h5>
      <div class="row">
      <div class="col m1 s3"><img src="http://tvleon.com/img/tarjetas/mercadopago.png" height="50"></div>
      </div>
      <p></p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-purple btn-flat">OK</a>
    </div>
  </div>

  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/plyr.js"></script>
  <script src="js/Chart.bundle.min.js"></script>
  <script src="js/excellentexport.min.js"></script>
  <script src="js/FileSaver.min.js"></script>
  <script src="js/graficos.js"></script>
  <script src="js/tracking-min.js"></script>
  <script src="js/jszip.min.js"></script>
  <script src="js/screenfull.min.js"></script>
  <script src="js/VideoRecorderJS.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".button-collapse").sideNav({
        closeOnClick: true,
        draggable: true
      });
      $('.modal').modal();
      $(".dropdown-button").dropdown();
      $('.tooltipped').tooltip();
      $('ul.tabs').tabs();
    });
    var virec;
    var player = plyr.setup({
      controls: ['play', 'progress', 'current-time', 'mute', 'volume'],
      clickToPlay: false,
      seekTime: 0.033
    });

    function appReady() {
      $("#bigOverlay").hide();
      $("#mainView").removeClass("hide");
    };

    function useTracker(color) {
      color = 'yellow';
      var canvas = document.getElementById('theCanvas');
      var context = canvas.getContext('2d');
      var tracker = new tracking.ColorTracker([color]);
      tracker.setMinDimension(100);
      tracking.track('#theVideo', tracker);
      tracker.on('track', function (event) {
        context.clearRect(0, 0, canvas.width, canvas.height);
        event.data.forEach(function (rect) {
          context.strokeStyle = rect.color;
          context.strokeRect(rect.x / 3.35, rect.y / 6, rect.width / 3.3, rect.height / 3.8);
          //context.font = '10px Roboto';
          //context.fillStyle = "#fff";
          //context.fillText('x: ' + (rect.x/3.35).toFixed(0) + 'px', rect.x/3.35 + rect.width/3.3 + 5, rect.y/3.8 + 11);
          //context.fillText('y: ' + (rect.y/3.8).toFixed(0) + 'px', rect.x/3.35 + rect.width/3.3 + 5, rect.y/3.8 + 22);
        });
      });
    };

    var inLAB = angular.module('inLAB', [])
      .run(function ($rootScope) {
        $rootScope.isVideo = false;
        $rootScope.timeStep = 0.033;
        $rootScope.isRecording = false;
        $rootScope.hasRecorded = false;
        $rootScope.recordedVideo = 0;
        $rootScope.showHelp = false;
      })
      .controller('menuIzquierda', function ($scope, $rootScope) {
        $scope.help = function () {
          $rootScope.showHelp = true;
          $('.collapsible').collapsible();
        };
        $scope.openLocalVid = function () {
          $("#localVideo").click();
        };
        $scope.openYTVid = function () {
          $("#botYT").click();
        };
        $scope.openLiveVid = function () {
          $rootScope.isVideo = true;
          $rootScope.isRecording = true;
          $rootScope.showHelp = false;
          virec = new VideoRecorderJS.init({
              resize: 0.8,
              webpquality: 0.9,
              framerate: 29.97,
              videotagid: "theVideo",
              videoWidth: "480",
              videoHeight: "320",
              log: true,
              workerPath: "js/recorderWorker.js"
            },
            function () {
              Materialize.toast('Capturando! :)', 4000, 'purple white-text');
            },
            function (err) {
              if (err.name == "BROWSER_NOT_SUPPORTED") {
                Materialize.toast('Tu navegador no soporta la captura en vivo.', 4000);
              } else if (err.name == "PermissionDeniedError") {
                Materialize.toast('Se denegó el acceso a la cámara.', 4000);
              } else if (err.name == "NotFoundError") {
                Materialize.toast('No se puede usar esta función.', 4000);
              } else {
                Materialize.toast('Ocurrió un error desconocido.', 4000);
              }
              $scope.huboError();
            });
        };
        $scope.huboError = function () {
          $rootScope.isVideo = false;
          $rootScope.isRecording = false;
        };
        $scope.startRecording = function () {
          $rootScope.hasRecorded = false;
          virec.clearRecording();
          virec.startCapture();
        };
        $scope.stopRecording = function () {
          $rootScope.hasRecorded = true;
          virec.stopCapture(function (result) {
            result.forEach(function (item) {
              if (item.type == "video") {
                var videoblob = item.blob;
                var videobase64 = window.URL.createObjectURL(videoblob);
                player[0].source({
                  type: 'video',
                  autoplay: true,
                  sources: [{
                    src: videobase64
                  }]
                });
                $(".plyr__video-wrapper").find('canvas#theCanvas') > 0 ? $("#theCanvas").css({
                  width: $(".plyr--setup").width(),
                  height: $(".plyr--setup").height()
                }) : $(".plyr__video-wrapper").append(
                  '<canvas id="theCanvas" style="position:absolute;width:100%;height:100%;top:0;left:0;"></canvas>'
                );
                $(".plyr--setup").addClass('mirror');
                $rootScope.recordedVideo = videoblob;
              }
            });
          });
        };
        $scope.downloadAll = function () {
          if (myChart.data.datasets[0].data.length !== 0) {
            $scope.loading = true;
            var zip = new JSZip();
            var img = zip.folder("Graficos");
            img.file("inLAB graph posicion.png", myChart.toBase64Image(), {
              type: "blob"
            });
            img.file("inLAB graph velocidad.png", myChart.toBase64Image(), {
              type: "blob"
            });
            img.file("inLAB graph aceleracion.png", myChart.toBase64Image(), {
              type: "blob"
            });
            var tablaExcel = ExcellentExport.returnEexcel('datatable', '±inLAB datos');
            zip.file("inLABdata.xls", tablaExcel, {
              base64: true
            });
            zip.generateAsync({
                type: "blob"
              })
              .then(function (content) {
                saveAs(content, "inLABdata.zip");
              });
            $scope.loading = false;
          }
        };
      })
      .controller('menuDerecha', function ($scope, $rootScope) {
        $scope.help = function () {
          $rootScope.showHelp = true;
          $('.collapsible').collapsible();
        };
        $scope.goBack = function () {
          $rootScope.showHelp = false;
        };
        $scope.goFullScreen = function () {
          if (screenfull.enabled) {
            $scope.fullscr = $scope.fullscr === true ? false : true;
            screenfull.toggle();
          }
        };
        $scope.downloadAll = function () {
          if (myChart.data.datasets[0].data.length !== 0) {
            $scope.loading = true;
            var zip = new JSZip();
            var img = zip.folder("Graficos");
            img.file("inLAB graph posicion.png", myChart.toBase64Image(), {
              type: "blob"
            });
            img.file("inLAB graph velocidad.png", myChart.toBase64Image(), {
              type: "blob"
            });
            img.file("inLAB graph aceleracion.png", myChart.toBase64Image(), {
              type: "blob"
            });
            var tablaExcel = ExcellentExport.returnEexcel('datatable', '±inLAB datos');
            zip.file("inLABdata.xls", tablaExcel, {
              base64: true
            });
            zip.generateAsync({
                type: "blob"
              })
              .then(function (content) {
                saveAs(content, "inLABdata.zip");
              });
            $scope.loading = false;
          }
        };
        $scope.startRecording = function () {
          $rootScope.hasRecorded = false;
          virec.clearRecording();
          virec.startCapture();
        };
        $scope.stopRecording = function () {
          $rootScope.hasRecorded = true;
          virec.stopCapture(function (result) {
            result.forEach(function (item) {
              if (item.type == "video") {
                var videoblob = item.blob;
                var videobase64 = window.URL.createObjectURL(videoblob);
                player[0].source({
                  type: 'video',
                  autoplay: true,
                  sources: [{
                    src: videobase64
                  }]
                });
                $(".plyr__video-wrapper").find('canvas#theCanvas') > 0 ? $("#theCanvas").css({
                  width: $(".plyr--setup").width(),
                  height: $(".plyr--setup").height()
                }) : $(".plyr__video-wrapper").append(
                  '<canvas id="theCanvas" style="position:absolute;width:100%;height:100%;top:0;left:0;"></canvas>'
                );
                $(".plyr--setup").addClass('mirror');
                $rootScope.recordedVideo = videoblob;
              }
            });
          });
        };
        $scope.downloadRecording = function () {
          saveAs($rootScope.recordedVideo, "inLAB recording.webm");
        };
        $scope.autoTracking = function () {
          useTracker('yellow');
        };
      })
      .directive("fileread", [function () {
        return {
          scope: {
            fileread: "="
          },
          link: function (scope, element, attributes) {
            element.bind("change", function (changeEvent) {
              scope.$apply(function () {
                scope.fileread = changeEvent.target.files[0];
                var URL = window.URL || window.webkitURL
                var f = scope.fileread
                var type = changeEvent.type;
                var fileURL = URL.createObjectURL(f);
                player[0].source({
                  type: 'video',
                  autoplay: true,
                  sources: [{
                    src: fileURL
                  }]
                });
                $(".plyr__video-wrapper").find('canvas#theCanvas') > 0 ? $("#theCanvas").css({
                  width: $(".plyr--setup").width(),
                  height: $(".plyr--setup").height()
                }) : $(".plyr__video-wrapper").append(
                  '<canvas id="theCanvas" style="position:absolute;width:100%;height:100%;top:0;left:0;"></canvas>'
                );
                scope.$root.isVideo = true;
                scope.$root.isRecording = false;
                scope.$root.showHelp = false;
                if (virec) {
                  virec.stopCapture();
                  virec.clearRecording();
                }
                myChart.reset();
                myChart2.reset();
                myChart3.reset();
              });
            });
          }
        }
      }])
      .controller('configuracion', function ($scope, $rootScope) {
        $scope.frameRate = 29.97;
        $scope.pasoTiempo = 0.033;
        $scope.updateFR = function () {
          $scope.frameRate = $scope.frameRate;
          $scope.pasoTiempo = 1 / $scope.frameRate;
        };
        $scope.updatePT = function () {
          $scope.pasoTiempo = $scope.pasoTiempo;
          $scope.frameRate = 1 / $scope.pasoTiempo;
        };
        $scope.generalConfig = function () {
          $rootScope.timeStep = $scope.pasoTiempo;
          player[0].seekTime = $scope.pasoTiempo;
        };
      })
      .controller('ytmenu', function ($scope, $rootScope) {
        $scope.youTubeVideo = function () {
          var p =
            /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
          var result = ($scope.ytlink.match(p)) ? RegExp.$1 : '';
          player[0].source({
            type: 'video',
            autoplay: true,
            sources: [{
              src: result,
              type: 'youtube'
            }]
          });
          $(".plyr__video-wrapper").find('canvas#theCanvas') > 0 ? $("#theCanvas").css({
            width: $(".plyr--setup").width(),
            height: $(".plyr--setup").height()
          }) : $(".plyr__video-wrapper").append(
            '<canvas id="theCanvas" style="position:absolute;width:100%;height:100%;top:0;left:0;"></canvas>');
          $rootScope.isVideo = true;
          $rootScope.isRecording = false;
          $rootScope.showHelp = false;
          if (virec) {
            virec.stopCapture();
            virec.clearRecording();
          }
          myChart.reset();
          myChart2.reset();
          myChart3.reset();
        };
        $scope.liveCapture = function () {
          $rootScope.isVideo = true;
          $rootScope.isRecording = true;
          $rootScope.showHelp = false;
          virec = new VideoRecorderJS.init({
              resize: 0.8,
              webpquality: 0.9,
              framerate: 29.97,
              videotagid: "theVideo",
              videoWidth: "480",
              videoHeight: "320",
              log: true,
              workerPath: "js/recorderWorker.js"
            },
            function () {
              Materialize.toast('Capturando! :)', 4000, 'lime black-text');
            },
            function (err) {
              if (err.name == "BROWSER_NOT_SUPPORTED") {
                Materialize.toast('Tu navegador no soporta la captura en vivo.', 4000);
              } else if (err.name == "PermissionDeniedError") {
                Materialize.toast('Se denegó el acceso a la cámara.', 4000);
              } else if (err.name == "NotFoundError") {
                Materialize.toast('No se puede usar esta función.', 4000);
              } else {
                Materialize.toast('Ocurrió un error desconocido.', 4000);
              }
              $scope.huboError();
            });
        };
        $scope.huboError = function () {
          $rootScope.isVideo = false;
          $rootScope.isRecording = false;
        };
      })
      .controller('tableAndVideo', function ($scope, $rootScope) {
        $scope.showVel = true;
        $scope.showAcel = true;
        $scope.tiempo = 0;
        $scope.puntos = [];
        $scope.getPoint = function ($event) {
          if ($('#theCanvas')[0] && $event.pageX - $('#theCanvas').offset().left > 0 && $event.pageY - $(
              '#theCanvas').offset().top > 0) {
            if (!player[0].isPaused()) player[0].pause();
            $scope.puntos.push({
              t : Number($scope.tiempo.toFixed(2)),
              x : Number(($event.pageX - $('#theCanvas').offset().left).toFixed(0)),
              y : Number(($('#theCanvas').height() - ($event.pageY - $('#theCanvas').offset().top)).toFixed(0))
            });
            if (player[0].getType() === 'youtube') {
              var tactual = player[0].getEmbed().getCurrentTime() + $rootScope.timeStep;
              player[0].getEmbed().seekTo(tactual);
            } else {
              player[0].forward($rootScope.timeStep);
            }
            var puntoAnterior = $scope.puntos.length - 2 > -1 ? $scope.puntos[$scope.puntos.length - 2] : undefined;
            var veloAnterior = $scope.puntos.length - 3 > -1 ? $scope.puntos[$scope.puntos.length - 3] : undefined;
            var velAndAc = updateGraphs($event, $scope.tiempo, puntoAnterior, veloAnterior);
            $.extend(true, $scope.puntos[$scope.puntos.length - 1], velAndAc);
            $scope.tiempo += $rootScope.timeStep;
          }
        };
        $scope.resetAll = function () {
          $scope.puntos.length = 0;
          myChart.data.datasets[0].data.length = 0;
          myChart.data.datasets[1].data.length = 0;
          myChart.data.datasets[2].data.length = 0;
          myChart.data.datasets[3].data.length = 0;
          myChart2.data.datasets[0].data.length = 0;
          myChart2.data.datasets[1].data.length = 0;
          myChart2.data.datasets[2].data.length = 0;
          myChart3.data.datasets[0].data.length = 0;
          myChart3.data.datasets[1].data.length = 0;
          myChart3.data.datasets[2].data.length = 0;
          myChart.update();
          myChart2.update();
          myChart3.update();
        };
        $scope.downloadGraph = function () {
          var canvas = document.getElementById("myChart"),
            ctx = canvas.getContext("2d");
          var canvas2 = document.getElementById("myChart2"),
            ctx2 = canvas2.getContext("2d");
          var canvas3 = document.getElementById("myChart3"),
            ctx3 = canvas3.getContext("2d");
          canvas.toBlob(function (blob) {
            saveAs(blob, "inLAB graph posicion.png");
          });
          canvas2.toBlob(function (blob) {
            saveAs(blob, "inLAB graph velocidad.png");
          });
          canvas3.toBlob(function (blob) {
            saveAs(blob, "inLAB graph aceleracion.png");
          });
        };
      })
      .directive("help", function () {
        return {
          restrict: "E",
          templateUrl: "help.html"
        };
      });
  </script>
  <!--<script type="text/javascript">
    $(document).keyup(function (event) {
      event.preventDefault;
      if (event.keyCode == 27) {
        window.close();
      }
    });
  </script>-->
</body>

</html>